@import '../libs';
body {
}
#wrapper {
    padding: 0;
    position: relative;
    background: white;
    width: 65vw;
    min-width: 800px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
#no-threads {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    h1 {
        margin-top: 2px;
        font-size: 1.5rem;
    }
    i {
        font-size: 5rem;
    }
}
#threads {
    margin : 0;
    padding: 0;
    background: white;
}
input::-webkit-input-placeholder, input:-moz-placeholder {
    color: black;
  }
#add-thread {
    * {
        margin-top: 10px;
        position: relative;
    }
    input {
        background: gray;
        opacity: 0.5;
        border: 1px solid #6c757d;
        width: 25%;
        height: 35px;
        border-radius: 1px;
    }
    img {
        margin-right: 1%;
        border-radius: 50%;
        top: 0;
        width: 50px;
        height: 50px;
    }
}

#del {
    position: relative;
    margin-right: 2vw;
    font-size: 1.5rem;
    cursor: pointer;
}

#prevpage,
#nextpage {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    opacity: 1;
    color: #0a0f0f;
    font-size: 100px;
}

#prevpage {
    left: 50px;
    font-size: 100px;
    color: white;
}

#nextpage {
    right: 50px;
    font-size: 100px;
    color: white;
}

span {
    font-style: italic;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#wrapper {
    text-align: center;
}

.op>p {
    font-size: 2vh;
}

.row {
    width: 70vw;
    min-width: 750px !important;
    min-height: 92px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    hr {
        border-bottom: 0.1vh solid black;
        width: 75%;
    }
    * {
        color: black;
    }
    h1 {
        font-size: 1rem;
    }
    h5 {
        color: white;
        font-size: 0.9rem;
    }
}

.thread {
    .edit-btn {
        font-size: 3.5vh;
        left: 160px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}

.post-by {
    color:red;
}

.popup-form {
    border: 1px solid black;
    height: 20vh;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    .form-exit {
        float: right;
        position: relative;
        font-size: 3vh;
        top: 1vh;
        right: 1vh;
        color: gray;
    }
    .form-exit:hover {
        cursor: pointer;
    }
    .form-header {
        border: 1px solid black;
        width: 100%;
        height: 30%;
        opacity: 1;
        background: white;
        h1 {
            font-size: 4vh;
        }
    }
    .form-container {
        height: 70%;
        width: 100%;
        form {
            h2 {
                font-size: 2.5vh;
                color: white;
            }
            input {
                width: 70%;
                border: 1px solid black;
                border-radius: 5px;
            }
            button {
                border: 1px solid black;
                width: 30%;
                height: 30%;
                margin-top: 3%;
                border-radius: 5px;
            }
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}