@import '../libs';
@import url('https://fonts.googleapis.com/css?family=Alegreya|Grenze&display=swap');
#addCategory {
    position: absolute;
    left: 2vw;
    top: 18vh;
    * {
        color: white;
        opacity: 0.7;
    }
    h1 {
        text-align: center;
        font-size: 3vh;
        transition: opacity 1s;
        opacity: 0;
    }
    i {
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        font-size: 4vh;
        opacity: 0.5;
        transition: opacity 1s;
    }
}
#addCategory:hover {
    cursor: pointer;
    h1 {
        transition: opacity 1s;
        opacity: 1;
    }
    i {
        transition: opacity 1s;
        opacity: 1;
    }
}

a {
    text-decoration: none !important;
}
#table-header {
    * {
        font-weight: 620;
    }
}
.row {
    width: 70vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    * {
        text-align: center;
    }
    hr {
        border-bottom: 0.1vh solid black;
        width: 125%;
    }
    h1 {
        top: 2vh;
        font-size: 3vh;
        color: black;
    }
    p {
        color: black;
        font-size: 1.5vh;
    }

    .col-2 {
        margin-left: 12.5vw;
    }
    #thread {
        margin-left: 5vw;
    }
    .col-1 {
        * {
            font-size: 2.2vh;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .desc {
        color: gray;
        font-size: 2vh;
    }

    .editor-btn {
        * {
            display: inline-block;
            float: left;
            margin-right: 0.1vw;
        }
        .switch-btn {
            margin-right: 1vw;
        }
        width: 10vw;
        position: absolute;
        display: inline-block;
        color: black;
        font-size: 175%;
        top: 45%;
        right: 30vw;
        cursor: pointer;
    }
}
.category {
    margin-bottom: 15px;
}
#categoryFormOpener:hover {
    cursor: pointer;
}
.popup-form {
    border: 1px solid black;
    height: 20vh;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    .form-exit {
        float: right;
        position: relative;
        font-size: 3vh;
        top: 1vh;
        right: 1vh;
        color: gray;
    }
    .form-exit:hover {
        cursor: pointer;
    }
    .form-header {
        border: 1px solid black;
        width: 100%;
        height: 30%;
        opacity: 1;
        background: white;
        h1 {
            font-size: 4vh;
        }
    }
    .form-container {
        height: 70%;
        width: 100%;
        form {
            h2 {
                font-size: 2.5vh;
                color: white;
            }
            input {
                width: 70%;
                border: 1px solid black;
                border-radius: 5px;
            }
            button {
                border: 1px solid black;
                width: 30%;
                height: 30%;
                margin-top: 3%;
                border-radius: 5px;
            }
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}