@import '../libs';
@import url('https://fonts.googleapis.com/css?family=Alegreya|Grenze&display=swap');
#categories {
    background: rgba(0, 0, 0, 0.5);
    margin : 0;
    padding: 0;

    .category {
        margin-top: 15px;
        background: rgb(23, 34, 33);
    }
}
#wrapper {
    position: relative;
    width: 65vw;
    min-width: 800px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
#add-category {
    margin-bottom: 0 !important;
    text-align: center;
    h1 {
        margin-bottom: 0 !important;
    font-size: 1rem;
    }
}
#add-category {
    a {
        text-decoration: underline;
    }
}
#add-category:hover {
    cursor: pointer;
}
i {
    margin-left: 1px;
}
a {
    outline: 0;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
#table-header {
    * {
        font-weight: 620;
    }
}
.row {
    width: 55vw;
    min-width: 750px !important;
    min-height: 92px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .thread-count-content {
        font-size: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .title-content, .recent-thread-content, .thread-count-content {
        height: 70%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .recent-poster {
        width: 100%;
        font-size: 0.7em;
        color: #C5C3C3;
    }
    .recent-title {
        color: white;
    }
    .thread-count {
        color: #C5C3C3;
    }
    .recent-poster-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    * {
        text-align: center;
    }
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    .col-3 {
        margin-left: 12.5vw;
    }
    #thread {
        margin-left: 5vw;
    }
    .desc {
        color: #C5C3C3;
        font-size: 1.25rem;
    }
    .title {
        color: white;
    }
    .editor-btn {
        * {
            display: inline-block;
            margin-right: 0.5vw;
        }
        .switch-btn {
            margin-right: 2vw;
        }
        color: black;
        display: inline-block;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
#categoryFormOpener:hover {
    cursor: pointer;
}
.popup-form {
    border: 1px solid black;
    height: 20vh;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    .form-exit {
        float: right;
        position: relative;
        font-size: 3vh;
        top: 1vh;
        right: 1vh;
        color: gray;
    }
    .form-exit:hover {
        cursor: pointer;
    }
    .form-header {
        border: 1px solid black;
        width: 100%;
        height: 30%;
        opacity: 1;
        background: white;
        h1 {
            font-size: 4vh;
        }
    }
    .form-container {
        height: 70%;
        width: 100%;
        form {
            h2 {
                font-size: 2.5vh;
                color: white;
            }
            input {
                width: 70%;
                border: 1px solid black;
                border-radius: 5px;
            }
            button {
                border: 1px solid black;
                width: 30%;
                height: 30%;
                margin-top: 3%;
                border-radius: 5px;
            }
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}