@import '../libs';
#container {
    #profilepic, #pic, #update {
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    #profilepic {
        border: 1px solid black;
        height: 30vh;
        width: 30vh;
    }
    #update {
        margin-top: 1%;
    }
    input[type="file"] {
        width: 11vw;
    }
    #namechanger {
        margin-top: 1%;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        h1 {
            font-size: 1vw;
        }
        * {
            display: inline-block;
        }
    }
}
.dropdown-container {
    display: table;
    position: relative;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}
.dropdown {
    * {
        z-index: 100;
    }
    h1, button {
    display: inline-block;
    }
}