@import '../libs';
#container {
    width: 30vw;
    min-width: 500px;
    min-height: 500px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    #avatar, #avatar-input, #update {
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    #avatar-input {
        min-width: 200px;
    }
    #avatar {
        border: 1px solid black;
        min-height: 300px;
        min-width: 300px;
        height: 30vh;
        width: 30vh;
    }
    input[type="file"] {
        margin-top: 0.5vh;
        width: 11vw;
    }
    #name-changer {
        min-width: 200px;
        margin-top: 1%;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        * {
            display: inline-block;
        }
    }
}
.error-container {
    margin-top: 2vh;
    height: 5vh;
}
.dropdown-container {
    display: table;
    position: relative;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}
.dropdown {
    * {
        z-index: 100;
    }
    h1, button {
    display: inline-block;
    }
    .dropdown-menu {
        position: relative;
        background: #6c757d;
    }
}
#settings {
    .option {
        min-width: 125px;
        width: 7vw;
        font-size: 1.2rem;
    }
    .value {
        min-width: 125px;
        width: 1.2rem;
    }
}
#update {
    width: 100px;
    height: 30px;
    color: white;
    background: #6c757d;
    border-radius: 0.25rem;
}
.dropdown-item {
    cursor: pointer;
}