@import url('https://fonts.googleapis.com/css?family=Yellowtail|Saira+Stencil+One&display=swap');
@import '../libs';
#header {
    border: 1px solid green;
    display: block;
    background-color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    #title {
        color: white;
        position: relative;
        font-family: 'Yellowtail', cursive;
    }
    .auth {
        border: 1px solid red;
        position: relative;
        #username {
            color: white !important;
        }
        opacity: 0.5;
        font-size: 1rem;
    }
    .title-container {
        position: relative;
        margin-top: 7.5px;
    }
}

.admin-icon {
    font-size: 3rem;
}

#admin:hover {
    animation: rotate 1s;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}