@import url('https://fonts.googleapis.com/css?family=Yellowtail|Saira+Stencil+One&display=swap');
@import '../libs';
#header {
    * {
    margin: 0 !important;
    }
}
.message-popup {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    z-index: 10;
    right: 0;
    background: red;
    width: 350px;
    height: 50%;
    overflow-y: scroll;
    .conversation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        * {
            padding: 5px;
        }
        .avatar>img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .content {
            flex: 1;
            color: white;
            font-size: .8rem;
        }
    }
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    min-width: 500px;
    text-align: center;
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    #title {
        color: white;
        position: relative;
        font-family: 'Yellowtail', cursive;
    }
    .inbox {
        position: relative;
        width: 250px;
        font-size: 2rem;
        float: right;
        color: white;
        cursor: pointer;
    }
    .auth {
        position: relative;
        #username {
            color: white !important;
        }
        opacity: 0.8;
        font-size: 1rem;
    }
    .title-container {
        position: relative;
        margin-top: 7.5px;
    }
    .admin {
        position: relative;
        width: 250px;
        height: 100px;
    }
    .admin-icon {
        font-size: 3rem;
    }
    
    #admin:hover {
        animation: rotate 1s;
    }    
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}