body {
    background: #212529;
    overflow-y: hidden;
    overflow-x: hidden;
}
.profile-container {
    display: flex;
    justify-content: center;
    .profile-header {
        margin-top: 15px;
        box-shadow: 1px 1px 5px 0px black;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1, i {
            color: white;
            font-size: 1rem;
        }
        .profile-name-container {
            position: relative;
            * {
                display: inline-block;
                font-size: 2rem;
            }
            i {
                position: absolute;
                right: 200px;
            }
        }
        .avatar-container {
            width: 300px;
            height: 300px;
            position: relative;
            .avatar {
                width: 300px;
                height: 300px;
            }
            * {
                border-radius: 50%;
                border: 1px solid black;
            }
            .status {
                width: 25px;
                height: 25px;
                position: absolute;
                top: 32px;
                left: 32px;
            }
        }
        .rank-container {
            .rank {
                color: gray;
                font-size: 1.5rem;
            }
        }
    }
}

.ban-btn:hover {
    cursor: pointer;
}
.ban-btn {
    text-align: center;
}
.ban-btn:hover {
    color:red;
}

.container {
    margin-top: 150px;
    background: #212529;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
        width: 300px;
        box-shadow: 1px 1px 5px black;
        h1 {color: gray;}
        * {
            color: white;
            font-size: 4rem;
            text-align: center;
        }
    }
}
.popup-form {
    border: 1px solid black;
    height: 20vh;
    width: 30vw;
    min-width: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    .form-exit {
        float: right;
        position: relative;
        font-size: 2rem;
        top: 5px;
        right: 5px;
        color: gray !important;
    }
    .form-exit:hover {
        cursor: pointer;
    }
    .form-header {
        border: 1px solid black;
        width: 100%;
        height: 30%;
        background: white;
        h1 {
            font-size: 2rem;
            color: gray;
        }
    }
    .form-container {
        height: 70%;
        width: 100%;
        form {
            h2 {
                font-size: 1rem;
                color: white;
            }
            input {
                width: 70%;
                border: 1px solid black;
                border-radius: 5px;
            }
            button {
                border: 1px solid black;
                width: 30%;
                height: 30%;
                min-width: 130px;
                margin-top: 3%;
                border-radius: 5px;
                font-size: 1rem;
            }
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}