@import url('https://fonts.googleapis.com/css?family=Baskerville');
@import '../libs';
body {
    min-height: 100%;
}
#wrapper {
    position: relative;
    width: 65vw;
    min-width: 900px;
    min-height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.4);
}
.edit-btn {
    font-size: 3.5vh;
    left: 0vw;
    top: 15vh;
    color: black;
    position: absolute;
}
.post-edit {
    font-size: 3.5vh;
    color: black;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.row {
    margin-bottom: 30px;
    min-height: 14vh;
    width: 75%;
    min-width: 815px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.page-selector {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    width: 100%;
    .page-info {
        color: white;
        text-align: center;
    }
    .selectors {
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        .selector-wrapper {
            position: relative;
            background: #212529;
            margin-right: 5px;
            width: 25px;
            height: 25px;
            display: inline-block;
            * {
                text-align: center;
                color: white;
                font-size: 1rem;
            }
        }
    }
}
.star {
    cursor: pointer;
    * {
    display: inline-block;
    font-size: 2rem;
    color: white;
    }
    position: absolute;
    top: calc(50% - (20% / 2));
    height: 20%;
}
.reply-counter {
    h1 {
        font-size: 1.5rem;
    }
    position: relative;
    width: 10%;
    top: 50%;
    color: white;
}
.post-bubble {
    margin-top: 5px;
    position: relative;
    border: 1px solid black;
    min-height: 200px;
    display: table;
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    background: #212529;
    margin: 0 auto;
    width: 55%;
    .post-title {
        color: white;
        font-size: 1.1rem;
        text-align: left;
    }
    .post-footer {
        text-shadow: 2px 2px black;
        float: right;
        margin-right: 20px;
        font-size: 0.7rem;
        color: rgb(194, 192, 192);
    }
    .post-content-wrapper {
        margin-left: 3px;
    }
    .post-content {
        text-align: left;
        color: rgb(153, 152, 152);
        font-size: 0.9rem;
    }
}
.profile-box {
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid black;
    z-index: 100;
    min-width: 175px;
    width: 175px;
    height: 265px;
    background: #212529;
    .avatar-container {
        height: 175px;
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        .avatar {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 160px;
            height: 160px;
        }
    }
    .username-container {
        position: relative;
        width: 150px;
        height: 35px;
        left: 50%;
        transform: translateX(-50%);
        .username {
            text-align: center;
            font-size: 1rem;
            color: white;
        }
    }
    .rank-container {
        position: relative;
        display: inline-block;
        left: 50%;
        background: yellow;
        transform: translateX(-50%);
        .ribbon {
            height: 60px;
            position: relative;
            height: 35px;
            text-align: center;
            width: 202px; //25 pixels bigger than .profile-box
            .rank {
                position: relative;
                height: 75%;
                top: 50%;
                transform: translateY(-50%);
            }
            &::before, &::after {
                background: inherit;
                content: '';
                display: block;
                filter: brightness(.5);
                height: 100%;
                position: absolute;
                top: 7.5px;
                width: 15px;
                z-index: -1;
            }
            &:before {
                transform: skewy(45deg);
                left: 0;
            }
            &:after {
                transform: skewy(-45deg);
                right: 0;
            }
        }
    }
}
#title-container {
    margin-bottom: 3vh;
    color: #212529;
    min-width: 800px;
    width: 100%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .thread-detail-wrapper {
        height: 25px;
        width: 100%;
        background: #212529 !important;
        .prev-page {
            position: absolute;
            left: 10px;
            top: 0;
            font-size: 0.9rem;
        }
        .next-page {
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 0.9rem;
        }
    }
    .thread-detail {
        width: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1em;
        color: gray;
        text-align: center;
        height: 2%;
    }
    .thread-title-wrapper {
        color: white;
        font-size: 1.5rem;
        font-weight: 650;
        text-align: center;
    }
}

#replyForm {
    margin-top: 2vh;
    * {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    textarea {
        background: rgba(0, 0, 0, 0.7);
        margin-bottom: 2%;
        width: 35vw;
        min-width: 400px;
        min-height: 100px;
        height: 20vh;
        color: white;
    }
    button {
        background: #212529;
        display: block;
        color: white;
        width: 100px;
        height: 35px;
    }
}
.increase-size {
    font-size: 3rem;
    transition: font-size 0.25s;
}

.decrease-size {
    font-size: 2rem;
    transition: font-size 0.25s;
}
.popup-form {
    border: 1px solid black;
    height: 20vh;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .form-exit {
        float: right;
        position: relative;
        font-size: 3vh;
        top: 1vh;
        right: 1vh;
        color: gray;
    }
    .form-exit:hover {
        cursor: pointer;
    }
    .form-header {
        border: 1px solid black;
        width: 100%;
        height: 30%;
        opacity: 1;
        background: white;
        h1 {
            font-size: 4vh;
        }
    }
    .form-container {
        height: 70%;
        width: 100%;
        form {
            p {
                font-size: 2.5vh;
                color: white;
            }
            input {
                width: 70%;
                border: 1px solid black;
                border-radius: 5px;
            }
            button {
                border: 1px solid black;
                width: 30%;
                height: 30%;
                margin-top: 3%;
                border-radius: 5px;
            }
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}