@import 'variables';
@import 'libs';

a {
    text-decoration: none;
}
#menu>* {
    display: inline-block;
    * {
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
}
#menu {
    border: 1px solid red;
    * {
        display: block;
        text-align: center;
    }
    i {
        font-size: 5vh;
        border: 1px solid red;
    }
    div {
        width: 500px;
    }
}
p {
    color: green;
}
.switch input {
    position: absolute;
    opacity: 0;
}
.switch {
    height: 2vh;
    width: 4vh;
    background: gray;
    border-radius: 2vh;
}
.switch div {
    height: 2vh;
    width: 2vh;
    border-radius: 2vh;
    background: $color-scheme;
    transition: all 0.3s;
}
.switch input:checked + div {
    margin-left: 50%;
    background: green;
}
  