@import 'variables';
@import 'libs';

#postThread {
    left: 0;
    position: absolute;
    width: 5vw;
    height: 5vh;
    h1 {
        font-size: 2vh;
    }
}

#prevpage,
#nextpage {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    opacity: 0.8;
    color: #0a0f0f;
    font-size: 100px;
}

#prevpage {
    left: 50px;
    font-size: 100px;
    color: #014952;
}

#nextpage {
    right: 50px;
    font-size: 100px;
    color: #014952;
}

span {
    font-style: italic;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#wrapper {
    text-align: center;
}

.op>p {
    font-size: 15px;
}

.title>p {
    border-radius: 25px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.thread {
    margin-bottom: 15px;
}