@import 'variables';
@import 'libs';

#header {
    margin-bottom: 0 !important;
}

#wrapper {
    width: 100vw;
    height: 85vh;
    #post {
        position: relative;
        width: auto;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    input,button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 1%;
    }
    #threadTitle {
        width: 50%;
    }
    #threadText {
        width: 50%;
        height: 25%;
    }
}