@import 'variables';
@import 'libs';

#profileheader {
    display: inline-block;
    position: relative;        
    left: 50%;
    transform: translateX(-50%);
    #profilepic {
        width: 25vh;
        height: 25vh;
        border: 1px solid black;
    }
    #editBtn {
        text-align: center;
    }
    * {
        h1 {
            text-align: center;
            margin-bottom: 10vh;
        }
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    input[type="file"] {
        width: 75%;
    }
}

.row {
    div {
        height: 40vh;
        p {
            font-size: 800%;
            color: $color-scheme;
        }
        * {
            text-align: center;
        }
    }
}