@import 'variables';
@import 'libs';

#profileheader {
    display: inline-block;
    position: relative;        
    left: 50%;
    transform: translateX(-50%);
    #uploadpic {
        position: absolute;
        top: 50%;
    }
    #editprofilepic {
        position: absolute;
        font-size: 350%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
    #editprofilepic:hover {
        opacity: 1;
    }
    h1 {
        color: black;
        margin-bottom: 5%;
    }
}

.row {
    div {
        height: 40vh;
        p {
            font-size: 800%;
            color: $color-scheme;
        }
        * {
            text-align: center;
        }
    }
}