@import 'variables';
@import 'libs';
@import url('https://fonts.googleapis.com/css?family=Baskerville');

.row {
    width: 50%;
    position: relative;
    left: 45%;
    transform: translateX(-50%);
    margin-bottom: 1%;
}
#titleContainer {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    #threadTitle {
        font-size: 2.5vh;
        text-align: center;
    }
    hr {
        border-top: 0.1vh solid black;
    }
}
.col-sm-2 {
    p {
        font-size: 3vh;
        position: relative;
        text-align: center;
        width: 15vh;
    }
    img {
        width: 15vh;
        height: 15vh;
        border: 1px;
        bordeR-radius: 50%;
    }
    margin-right: 2%;
}
.col-sm-8 {
    word-break: break-all;
    font-family: 'Baskerville';
}
#stats {
    p {
        font-size: 2.5vh;
    }
    width: 15vh;
}

.col-sm-1 {
    height: 20vh;
    width: 1px;
    margin-left: 1vh;
    border-left: 1px solid black;
}

#replyForm {
    * {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    textarea {
        margin-bottom: 2%;
        width: 35vw;
        height: 20vh;
    }
    button {
        display: block;
        color: gray;
        width: 4vw;
        height: 4vh;
    }
}
#prevpage,
#nextpage,
#lastpage {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    opacity: 0.8;
    color: $color-scheme;
    font-size: 10vh;
}

#prevpage {
    left: 50px;
}


#lastpage {
    top: 60% !important;
    right: 50px;
    font-size: 5vh !important;
}

#nextpage {
    right: 50px;
}

#empty {
    text-align: center;
    font-size: 5vh;
    color: $color-scheme;
}