@import 'variables';
@import 'libs';

#wrapper {
    text-align: center;
}

.row {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-55%);
    margin-bottom: 1%;
}
.col-sm-2 {
    border: 1px solid black;
    height: 20vh;
    p {
        position: relative;
        top: 20vh;
    }
}
.col-sm-10 {
    word-break: break-all;
    border: 1px solid red;
}

#postReply {
    width: 40vw;
    height: 20vh;
}