@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);body {
  background: #212529;
  overflow-y: hidden;
  overflow-x: hidden;
}

#ranks-link {
  font-size: 10vh;
}

a {
  text-decoration: none;
}

#menu > * {
  display: inline-block;
}

#menu > * i,
#menu > * div {
  display: table;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

#menu {
  margin-top: 10px;
}

#menu * {
  display: block;
  text-align: center;
}

#menu i {
  font-size: 10vh;
}

#menu .pcr-button {
  width: 10vh;
  height: 10vh;
}

p {
  color: white;
  font-size: 3vh;
}

#color-state {
  color: gray;
}

hr {
  border: 1px solid white;
  margin-bottom: 10vh;
}

.toggle input {
  display: none;
}

.settings-title {
  color: white;
  font-size: 5vh !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.value {
  box-shadow: 2px 2px 2px 2px black;
}

.option {
  color: white;
}

.option,
.value {
  width: 250px;
  display: inline-block;
  font-size: 1.5em;
}

.submit-settings {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 40px;
  background: gray;
  color: white;
  margin-top: 10vh;
  box-shadow: 2px 2px 2px 2px black;
}

#result-placement {
  text-align: center;
  height: 5vh;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 20vh;
  height: 5vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bc2612;
  border: 1px solid #aaa;
  border-radius: 5px;
  transition: all 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 5vh;
  height: 2.5vh;
  left: 5.5vh;
  top: 0.9vh;
  background-color: #eee;
  border-radius: 5px;
  transition: all 0.4s;
}

input:checked + .slider {
  background-color: #8cbc13;
}

input:checked + .slider:before {
  transform: translateX(40px);
}

