@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);#wrapper {
  position: relative;
  width: 65vw;
  min-width: 800px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.page-selector {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  width: 100%;
}

.page-selector .selectors {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.page-selector .selectors .selector-wrapper {
  position: relative;
  background: #212529;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.page-selector .selectors .selector-wrapper * {
  text-align: center;
  color: white;
  font-size: 1rem;
}

.page-info {
  color: white;
  text-align: center;
}

#no-threads {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#no-threads h1 {
  font-size: 1.5rem;
}

#no-threads i {
  font-size: 5rem;
}

#threads .thread > * {
  color: #E8E7E7;
}

#threads .thread {
  min-height: 75px;
  margin-top: 15px;
  background: #172221;
}

#threads .latest-post-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

input::-webkit-input-placeholder,
input:-moz-placeholder {
  color: black;
}

#add-thread * {
  margin-top: 10px;
  position: relative;
}

#add-thread input {
  background: gray;
  opacity: 0.5;
  border: 1px solid #6c757d;
  width: 25%;
  height: 35px;
  border-radius: 1px;
}

#add-thread img {
  margin-right: 1%;
  border-radius: 50%;
  top: 0;
  width: 50px;
  height: 50px;
}

#del {
  position: relative;
  margin-right: 2vw;
  font-size: 1.5rem;
  cursor: pointer;
}

a {
  outline: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#wrapper {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.op {
  margin-top: 1px;
}

.row {
  width: 55vw;
  min-width: 750px !important;
  min-height: 70px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.row .posts-content {
  height: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.row .threads-content,
.row .score-content {
  height: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.row h1 {
  font-size: 1rem;
}

.row h5 {
  color: white;
  font-size: 0.9rem;
}

.thread .edit-btn {
  font-size: 2.5vh;
  left: 160px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.popup-form {
  border: 1px solid black;
  height: 20vh;
  width: 30vw;
  min-width: 470px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
}

.popup-form .form-exit {
  float: right;
  position: relative;
  font-size: 2rem;
  top: 5px;
  right: 5px;
  color: gray !important;
}

.popup-form .form-exit:hover {
  cursor: pointer;
}

.popup-form .form-header {
  border: 1px solid black;
  width: 100%;
  height: 30%;
  background: white;
}

.popup-form .form-header h1 {
  font-size: 2rem;
  color: gray;
}

.popup-form .form-container {
  height: 70%;
  width: 100%;
}

.popup-form .form-container form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-form .form-container form h2 {
  font-size: 1rem;
  color: white;
}

.popup-form .form-container form input {
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
}

.popup-form .form-container form button {
  border: 1px solid black;
  width: 30%;
  height: 30%;
  min-width: 130px;
  margin-top: 3%;
  border-radius: 5px;
  font-size: 1rem;
}

