@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);@import url(https://fonts.googleapis.com/css?family=Alegreya|Grenze&display=swap);#header {
  padding: 0 !important;
  margin: 0 !important;
}

.category-link {
  height: auto;
  display: block;
}

h1 {
  margin-bottom: 0 !important;
}

#categories {
  background: rgba(0, 0, 0, 0.5);
}

#categories .category {
  min-height: 100px;
  margin-top: 15px;
  background: #172221;
}

#wrapper {
  position: relative;
  width: 65vw;
  min-width: 800px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#add-category {
  text-align: center;
}

#add-category h1 {
  font-size: 1rem;
}

#add-category a {
  text-decoration: underline;
}

#add-category:hover {
  cursor: pointer;
}

i {
  margin-left: 1px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#table-header * {
  font-weight: 620;
}

.row {
  width: 55vw;
  min-width: 750px !important;
  min-height: 92px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.row .thread-count-content {
  font-size: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.row .title-content,
.row .recent-thread-content,
.row .thread-count-content {
  height: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.row .recent-poster {
  width: 100%;
  font-size: 0.7em;
  color: #C5C3C3;
}

.row .recent-title {
  color: #C5C3C3;
}

.row .thread-count {
  color: #C5C3C3;
}

.row .recent-poster-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.row * {
  text-align: center;
}

.row h1 {
  font-size: 2em;
}

.row p {
  font-size: 1em;
}

.row .col-3 {
  margin-left: 12.5vw;
}

.row #thread {
  margin-left: 5vw;
}

.row .desc {
  color: #C5C3C3;
  font-size: 1.25rem;
}

.row .title {
  color: white;
}

.row .editor-btn {
  position: relative;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.row .editor-btn * {
  display: inline;
  margin-right: 0.5vw;
}

#categoryFormOpener:hover {
  cursor: pointer;
}

.popup-form {
  border: 1px solid black;
  height: 20vh;
  width: 30vw;
  min-width: 470px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
}

.popup-form .form-exit {
  float: right;
  position: relative;
  font-size: 2rem;
  top: 5px;
  right: 5px;
  color: gray !important;
}

.popup-form .form-exit:hover {
  cursor: pointer;
}

.popup-form .form-header {
  border: 1px solid black;
  width: 100%;
  height: 30%;
  background: white;
}

.popup-form .form-header h1 {
  font-size: 2rem;
  color: gray;
}

.popup-form .form-container {
  height: 70%;
  width: 100%;
}

.popup-form .form-container form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-form .form-container form h2 {
  font-size: 1rem;
  color: white;
}

.popup-form .form-container form input {
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
}

.popup-form .form-container form button {
  border: 1px solid black;
  width: 30%;
  height: 30%;
  min-width: 130px;
  margin-top: 3%;
  border-radius: 5px;
  font-size: 1rem;
}

