@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);a,
a:hover {
  text-decoration: none !important;
  color: black;
}

.menu > * {
  display: inline-block;
}

.menu > * i,
.menu > * div {
  display: table;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.menu {
  margin-top: 10vh;
}

.menu * {
  display: block;
  text-align: center;
}

.menu i {
  font-size: 10vh;
}

p {
  color: black;
  font-size: 3vh;
}

