@import url(https://fonts.googleapis.com/css?family=Yellowtail|Saira+Stencil+One&display=swap);@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);#header * {
  margin: 0 !important;
}

.message-popup {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  z-index: 10;
  right: 0;
  background: red;
  width: 350px;
  overflow-y: scroll;
  height: 50%;
}

.message-popup .conversation {
  cursor: pointer;
}

.message-popup .conversation,
.message-popup .message {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.message-popup .conversation *,
.message-popup .message * {
  padding: 5px;
}

.message-popup .conversation .avatar > img,
.message-popup .message .avatar > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message-popup .conversation .content,
.message-popup .message .content {
  flex: 1;
  color: white;
  font-size: 0.8rem;
}

.message-popup .user {
  flex-direction: row-reverse;
}

.message-popup .message {
  margin-bottom: 5px;
}

.message-popup .return-btn {
  cursor: pointer;
  font-size: 3rem;
  color: white;
  justify-content: center;
  text-align: center;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  min-width: 500px;
  text-align: center;
}

#header a {
  text-decoration: none;
}

#header a:hover {
  text-decoration: none;
}

#header #title {
  color: white;
  position: relative;
  font-family: "Yellowtail", cursive;
}

#header .inbox {
  position: relative;
  width: 250px;
  font-size: 2rem;
  float: right;
  color: white;
  cursor: pointer;
}

#header .auth {
  position: relative;
  opacity: 0.8;
  font-size: 1rem;
}

#header .auth #username {
  color: white !important;
}

#header .title-container {
  position: relative;
  margin-top: 7.5px;
}

#header .admin {
  position: relative;
  width: 250px;
  height: 100px;
}

#header .admin-icon {
  font-size: 3rem;
}

#header #admin:hover {
  -webkit-animation: rotate 1s;
          animation: rotate 1s;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-up {
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

