@import url(https://fonts.googleapis.com/css?family=Yellowtail|Saira+Stencil+One&display=swap);@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);#header * {
  margin: 0 !important;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.message-popup {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 350px;
  position: absolute;
  z-index: 10;
  flex: 1;
  right: 0;
}

.message-popup .conversations {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 85%;
}

.message-popup .conversation {
  cursor: pointer;
}

.message-popup .unread {
  order: -1;
}

.message-popup .unread .content > p {
  font-size: 0.9rem;
  color: white;
}

.message-popup .compose {
  cursor: pointer;
  bottom: 25px;
  align-self: center;
}

.message-popup .compose * {
  color: white;
}

.message-popup .conversation,
.message-popup .message {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.message-popup .conversation div,
.message-popup .message div {
  padding: 5px;
}

.message-popup .conversation .status,
.message-popup .message .status {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid black;
}

.message-popup .conversation .avatar-wrapper img,
.message-popup .message .avatar-wrapper img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px black;
}

.message-popup .conversation .content,
.message-popup .message .content {
  flex: 1;
  color: gray;
  font-size: 0.8rem;
}

.message-popup .user {
  flex-direction: row-reverse;
}

.message-popup .messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 85%;
}

.message-popup .message {
  width: 90%;
  align-self: center;
  margin-bottom: 5px;
}

.message-popup .message .content {
  background: #212529;
}

.message-popup .scroll-up {
  align-self: center;
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  color: white;
}

.message-popup .return-btn {
  cursor: pointer;
  font-size: 3rem;
  color: white;
  justify-content: center;
  text-align: center;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  min-width: 500px;
  text-align: center;
}

#header a {
  text-decoration: none;
}

#header a:hover {
  text-decoration: none;
}

#header #title {
  color: white;
  position: relative;
  font-family: "Yellowtail", cursive;
}

#header .inbox {
  margin-right: 100px;
  position: relative;
  width: 200px;
  font-size: 2rem;
  float: right;
  color: white;
  cursor: pointer;
}

#header .inbox .notification-circle {
  position: absolute;
  top: 20px;
  right: 65px;
  background: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#header .inbox .notification-circle .notifications {
  font-size: 1rem;
}

#header .auth {
  position: relative;
  opacity: 0.8;
  font-size: 1rem;
}

#header .auth #username {
  color: white !important;
}

#header .title-container {
  position: relative;
  margin-top: 7.5px;
}

#header .admin {
  position: relative;
  width: 200px;
  height: 100px;
}

#header .admin-icon {
  font-size: 3rem;
}

#header .admin-icon:hover {
  -webkit-animation: rotate 1s;
          animation: rotate 1s;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

