@import url(https://code.jquery.com/jquery-3.4.1.min.js);@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js);@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);@import url(https://fonts.googleapis.com/css?family=Yellowtail|Saira+Stencil+One&display=swap);html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: red;
}

#auth {
  border-radius: 10px 10px 0 0;
  position: fixed;
  opacity: 0.7;
  font-size: 20px;
  height: 5vh;
  width: 25vw;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #014952;
}

#auth p {
  color: darkgray;
  text-align: center;
}

#header {
  background-color: #014952;
  height: 15vh;
  width: 100vw;
  text-align: center;
  margin-bottom: 1vh;
}

#title {
  position: relative;
  font-family: "Yellowtail", cursive;
  font-size: 50px;
  top: 50%;
  transform: translateY(-50%);
}

