@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);#header {
  margin-bottom: 0 !important;
}

#wrapper {
  width: 100vw;
  height: 85vh;
}

#wrapper #post {
  position: relative;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#wrapper input,
#wrapper textarea,
#wrapper button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1%;
}

#wrapper #threadTitle {
  width: 50%;
}

#wrapper #threadText {
  width: 50%;
  height: 25%;
}

