@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js);@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);#profileheader {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#profileheader * {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
}

#profileheader * h1 {
  text-align: center;
}

#profileheader input[type=file] {
  width: 75%;
}

.row div {
  height: 40vh;
}

.row div p {
  font-size: 800%;
  color: #014952;
}

.row div * {
  text-align: center;
}

