@import url(https://code.jquery.com/jquery-3.4.1.min.js);@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js);@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);#wrapper {
  text-align: center;
}

.row {
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.col-sm-2 {
  border: 1px solid black;
  height: 20vh;
}

.col-sm-2 p {
  position: relative;
  top: 20vh;
}

.col-sm-10 {
  word-break: break-all;
  float: left;
  border: 1px solid red;
}

