@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js);@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);.row {
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1%;
}

.col-sm-2 {
  margin-bottom: 3%;
}

.col-sm-2 p {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.col-sm-2 img {
  width: 15vh;
  height: 15vh;
}

.col-sm-10 {
  word-break: break-all;
}

#replyForm * {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#replyForm textarea {
  margin-bottom: 2%;
  width: 35vw;
  height: 20vh;
}

#replyForm button {
  display: block;
  color: gray;
  width: 4vw;
  height: 4vh;
}

