@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js);@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);@import url(https://fonts.googleapis.com/css?family=Baskerville);.row {
  width: 50%;
  position: relative;
  left: 45%;
  transform: translateX(-50%);
  margin-bottom: 1%;
}

#titleContainer {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#titleContainer #threadTitle {
  font-size: 5vh;
  text-align: center;
}

.col-sm-2 {
  margin-right: 2%;
}

.col-sm-2 p {
  font-size: 3vh;
  position: relative;
  text-align: center;
  width: 15vh;
}

.col-sm-2 img {
  width: 15vh;
  height: 15vh;
  border: 1px;
  bordeR-radius: 50%;
}

.col-sm-8 {
  word-break: break-all;
  font-family: "Baskerville";
}

#stats {
  width: 15vh;
}

#stats p {
  font-size: 2.5vh;
}

.col-sm-1 {
  height: 20vh;
  width: 1px;
  margin-left: 1vh;
}

.splitter {
  border-left: 1px solid black;
}

#star {
  font-size: 5vh;
}

#star i {
  position: relative;
  top: 10vh;
  transform: translateY(-100%);
}

#replyForm * {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#replyForm textarea {
  margin-bottom: 2%;
  width: 35vw;
  height: 20vh;
}

#replyForm button {
  display: block;
  color: gray;
  width: 4vw;
  height: 4vh;
}

#prevpage,
#nextpage,
#lastpage {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
  opacity: 0.8;
  color: #ff3333;
  font-size: 10vh;
}

#prevpage {
  left: 50px;
}

#lastpage {
  top: 60% !important;
  right: 50px;
  font-size: 5vh !important;
}

#nextpage {
  right: 50px;
}

#empty {
  text-align: center;
  font-size: 5vh;
  color: #ff3333;
}

