@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);body {
  background: #212529;
  overflow-y: hidden;
  overflow-x: hidden;
}

#search-wrapper {
  position: relative;
  margin: 0 auto;
  width: 12%;
}

#search-wrapper i {
  color: white;
}

.page-selector {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  width: 100%;
}

.page-selector .page-info {
  color: white;
  text-align: center;
}

.page-selector .selectors {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.page-selector .selectors .selector-wrapper {
  position: relative;
  background: #212529;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.page-selector .selectors .selector-wrapper * {
  text-align: center;
  color: white;
  font-size: 1rem;
}

table {
  min-width: 600px;
  width: 100vw;
  text-align: center;
}

table th {
  color: white;
  width: 25vw;
  font-size: 1.5rem;
}

table td {
  color: white;
  font-size: 1.5rem;
}

