@import '../libs';

body {
    background: #212529;
    overflow-y: hidden;
    overflow-x: hidden;
}

a,a:hover {
    text-decoration: none !important;
    color: black;
}
.menu>* {
    display: inline-block;
    i,div {
        display: table;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
}
a {
    outline: 0;
}
.menu {
    margin-top: 10vh;
    * {
        display: block;
        text-align: center;
    }
    i {
        font-size: 10vh;
    }
}
p {
    color: white;
    font-size: 3vh;
}