@import '../libs';

body {
    background: #212529;
}
table {
    min-width: 600px;
    width: 100vw;
    text-align: center;
    th {
        color: white;
        width: 25vw;
        font-size: 1.5rem;
    }
    td {
        color: white;
        font-size: 1.5rem;
    }
}
.page-selector {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    width: 100%;
    .page-info {
        color: white;
        text-align: center;
    }
    .selectors {
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        .selector-wrapper {
            position: relative;
            background: #212529;
            margin-right: 5px;
            width: 25px;
            height: 25px;
            display: inline-block;
            * {
                text-align: center;
                color: white;
                font-size: 1rem;
            }
        }
    }
}

#user-search {
    min-width: 300px;
    input {
    height: 30px;
    width: 200px;
    margin-left: 40px;
    }
    i {
        width: 40px;
        height: 40px;
    }
}

#prevpage {
    left: 50px;
    font-size: 100px;
    color: white;
}

#nextpage {
    right: 50px;
    font-size: 100px;
    color: white;
}