@import '../libs';

table {
    width: 100vw;
    text-align: center;
    th {
        width: 25vw;
        font-size: 4.5vh;
    }
    td {
        padding: 1vh;
        font-size: 2.5vh;
    }
    input {
        width: auto;
        height: 3.5vh;
        padding: 0;
        border: none;
        position: relative;
        margin-left: 0.3vw;
    }
    .namecell {
        position: relative;
        left: 10vh;
    }

    .dropdown {
        p {
            margin: 0;
            border: 1px solid black;
        }
        border-radius: 10%;
        p {
            text-align: center;
        }
        p:hover {
            cursor: pointer;
        }
        p {
            font-size: 2.5vh;
            color: gray;
        }
    }
    .dropdown-menu {
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: rgb(0, 0, 0);
        position: relative;
        width: 12vw;
    }
}

.selected {
    background: lightgray;
}

.unselected {
    background: darkgray;
}

#menu {
    position: absolute;
    top: 15vh;
    left: 1.5vw;
    * {
        text-align: center;
        font-size: 2vh;
    }
    .add i, .save svg {
        cursor: pointer;
        margin-top: 5vh;
        font-size: 10vh;
    }
}

.trash:hover {
    cursor: pointer;
}