@import '../libs';

table {
    width: 100vw;
    text-align: center;
    th {
        width: 25vw;
        font-size: 4.5vh;
    }
    td {
        padding: 1vh;
        font-size: 2.5vh;
    }
    input {
        width: auto;
        height: 3.5vh;
        padding: 0;
        border: none;
        position: relative;
        left: 5.5vw;
    }

    .dropdown {
        * {
            margin: 0;
            border-top: 1px solid black;
        }
        border-radius: 10%;
        p {
            text-align: center;
        }
        p:hover {
            background: rgb(46, 42, 42);
            cursor: pointer;
        }
        p {
            font-size: 2.5vh;
            color: gray;
        }
    }
    .dropdown-menu {
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: rgb(0, 0, 0, 0.1);
        margin-left: 3vw;
        position: relative;
        width: 12vw;
    }
}

.selected {
    background: rgb(117, 231, 3, .4) !important;
}

.unselected {
    background: rgb(255, 1, 1, .4) !important;
}
