@import '../libs';

table {
    border: 1px solid red;
    width: 100vw;
    text-align: center;
    th {
        width: 25vw;
        font-size: 2rem;
    }
    td {
        padding: 1vh;
        font-size: 1rem;
    }
    input {
        width: auto;
        height: 1.5rem;
        padding: 0;
        border: none;
        position: relative;
        margin-left: 0.3vw;
    }
    .namecell {
        position: relative;
        left: 80px;
    }

    .dropdown {
        p {
            margin: 0;
            border: 1px solid black;
        }
        border-radius: 10%;
        p {
            text-align: center;
        }
        p:hover {
            cursor: pointer;
        }
        p {
            font-size: 2.5vh;
            color: gray;
        }
    }
    .dropdown-menu {
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: rgb(0, 0, 0);
        position: relative;
        width: 12vw;
    }
}

.selected {
    background: lightgray;
}

.unselected {
    background: darkgray;
}

#menu {
    margin-top: 10vh;
    position: relative !important;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    min-width: 350px;
    * {
        text-align: center;
        font-size: 1rem;
    }
    i, svg {
        font-size: 6rem;
    }
    .add, .save, .default {
        margin-right: 50px;
        display: inline-block;
    }
    .add:hover, .save:hover, .default:hover {
        cursor: pointer;
    }
}

.trash:hover {
    cursor: pointer;
}